.menu-option {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.683);
    width: 97.3%;
    height: 90vh;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.menu-create {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    position: relative;

    width: 60%;
}

.list-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    background-color: whitesmoke;
    height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.list-element {
    display: flex;
    justify-content: space-around;
}

