.background-manager {
    background-image: url("../images/top-view-different-seasonings-with-raw-pasta-dark-background-product-raw-food-salad-health.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
